@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@using scheduler.Models
@using scheduler.Models.SchedulerViewModels

@inject UserManager<ApplicationUser> UserManager

@model List<CalendarEventViewModel>

@{
    ViewData["Title"] = "Your Calendar";
}
<div class="page-header calendar-header">
    <h1>Your Calendar</h1>
    <a class="btn btn-primary btn-lg" asp-controller="Scheduler" asp-action="Index">Create a new event</a>
</div>

<div class="calendar-event">
@foreach (var calendarEvent in Model)
{
    <div class="calendar-event panel panel-default">
        <div class="panel-heading calendar-event-header">
            <h2>@calendarEvent.EventTitle</h2>
            @if (calendarEvent.CreatedById == @UserManager.GetUserId(User))
            {
                <a class="btn btn-primary btn-lg" asp-controller="Scheduler" asp-action="EditEvent" asp-route-eventId="@calendarEvent.EventId">Edit</a>
            }
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row"> 
                    <div class="col-md-6">
                        <h3>About: @calendarEvent.EventDescription</h3>
                        <div class="event-times">
                            <div>Start: @calendarEvent.StartDateTime</div>
                            <div>End: @calendarEvent.EndDateTime</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event-invitees">
                            <h3>Invitees</h3>
                            <ul>
                                @foreach (var email in calendarEvent.InviteeEmails)
                                {
                                    <li>@email</li>
                                }
                            </ul>
                            @if (calendarEvent.InviteeEmails.Count() == 0)
                            {
                                <div>No invitees!</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
@if (Model.Count() == 0)
{
    <div>You don't seem to have any events to show!</div>
}